---
import BaseLayout from "../../layouts/BaseLayout.astro";
import products from "../../../data/products.json";

const categories = [...new Set(products.map(p => p.category))];

export async function getStaticPaths() {
  return categories.map(category => ({
    params: { slug: category }
  }));
}

const { slug } = Astro.params;

const categoryProducts = products.filter(
  p => p.category === slug
);
---

<BaseLayout title={`Category ${slug}`}>
  <h1>{slug}</h1>

  <h2>Products</h2>

  <ul>
    {
      categoryProducts.map(product => (
        <li>
          <a href={`/product/${product.slug}/`}>
            {product.name}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
