---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Adsense from "../../components/Adsense.astro";
const { slug } = Astro.params;
---
<BaseLayout title={`Product ${slug}`}>
<h2>{slug}</h2>
<Adsense slot="product-top" />
<p>Product page placeholder</p>
<Adsense slot="product-bottom" />
</BaseLayout>
