---
import BaseLayout from "../layouts/BaseLayout.astro";
import Adsense from "../components/Adsense.astro";
---
<BaseLayout title="SeoulBeauty">
<h2>Latest Products</h2>
<Adsense slot="homepage-top" />
<p>Homepage placeholder</p>
</BaseLayout>
